<h1>Seach</h1>
<%= form_for :article do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text %><br>
		<%= f.text_field :text %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>title</th>
				<th>text</th>
			</tr>
		</thead>
		<tbody>
		<% @articles.each do |article| %>
			<tr>
				<td><%= article.id %></td>
				<td><%= article.title %></td>
				<td><%= article.text %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>